
.wrap{
  max-width: 1024px;
  margin: 0 auto;
  background: $bgColor;
  font-family: "微軟正黑體", sans-serif;
  color: $fontColor;
  p{
	 line-height: 1.5;
  }
}
//desktop背景圖
.header{
	background-image: url(../images/header_desktop.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 420px;
	position: relative;
}
//iphone5背景圖
@include iphone5{	//max-width: 320px
	.header{
		// height: auto;
		background-image: url(../images/header_mobile.png);
		background-position: center;
	}
}
//desktop Logo
.navbar{
	background: rgba(0,0,0,0.75);
	padding: 15px 40px;
	h1{
		float: left;
	}	
	.logo{
		background-image: url(../images/logo_w.svg);
		width: 120px;
		height: 24px;
		display: block;
		@include hide-text;
	}
}
// pad & iphone5 Logo
@include pad{	//max-width: 768px
	.navbar{
		padding: 15px;
		.logo{
			width: 94px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

//desktop選單	
.topmenu{
	float: right;
	li{
		float: left;
	}
	a{
		display: block;
		color: white;
	    text-align: center;
	    text-decoration: none;
	    padding: 0.5em 1em;
	    transition: all .5s;
	}
	a:hover{
		background: white;
		color: black;
		border-radius: 2px;
	}
}
//隱藏手機漢堡選單
.showmenu{				
	display: none;
}
//jQ點擊後動態在 body 加上 class
.topmenu.open{
	max-height: 200px;
}
// iphone5漢堡選單
@include iphone414{		  //max-width: 320px
	.topmenu{	
		max-height: 0px;  //隱藏desktop選單
		overflow: hidden;
		transition: max-height 1.5s; 
		position: absolute;
		z-index: 100;
		top: 55px;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.75);
    		li{
			float: none;
			border-bottom: 1px dashed #FFFFFF;
    		}
		a{
			padding: 1em;
		}
 	}
//顯示手機漢堡選單	
	.showmenu{				
		display: block;
		float: right;
		color: white;
		margin-top: .3em;
	}
}
//desktop標語	
.poster{
	padding: 20px;
	margin: 65px auto;
	text-align: center;
	width: 460px;
	height: 160px;
	color: white;
	background: rgba(0,0,0,0.35);
	h2{
		font-size: 36px;
	}
	h2:nth-child(2){
		display: none;	
	}
}
// pad標語
@include pad{		//max-width: 768px
	.poster{
		max-width: 100%;
	}
}
// iphone5標語
@include iphone5{	//max-width: 320px
	.poster{
		padding: 20px 5px;
		margin: 55px auto;
		height: auto;
		h2:nth-child(1){
			display: none;
		}
		h2:nth-child(2){
			display: block;
		}
	}
}

//頁尾
.footer{
	padding: 50px 40px;
	display: flex;
	div{
		width:33%;
	}
	h2{
		font-size: 24px;
	}
	p{
		text-align: left;
	}
}

@include pad{		//max-width: 768px
	.footer{
		padding: 50px 10px;
	}
}

@include iphone{	//max-width: 568px
	.footer{
		display: block;
		div{
			width: 98%;
		}
	}
}
.contact{
	margin: 0 2em;
	ul{
		list-style-type: disc;
		padding-left: 1em;
    }
}

@include iphone{	
	.contact{
		margin: 30px 0px;
	}
}
//社群圖示
.soclink{
	.logo-f{
	 	float: right;
	}
	ul{
		float: right;
		margin-top: 20px;
	}
	li{
		float: left;
		margin-left: 10px;
		img{
			border-radius: 20%;
		}
	}
}	
@include iphone{	//max-width: 568px;
	.soclink{
		.logo-f{
			float: none;
		}
		ul{
			float: none;
		}
	}
}
