//中間內容標題，字型
.content{
	h2{
		font-size: $font-l; //24px
		font-weight: bold;
	}
	h3{
		font-size: $font-m; //20px
		font-weight: bold;
	}
	h4{
		font-size: $font-s; //18px
	}
}
//餐廳特色
.feature{
	padding: 50px 0;
	ul{
		display: flex;
	}
	li{
		width: 33.333%;
		margin: 0 1%;
		padding: .5em;
	}
	h4{
		text-align: center;
		margin: 20px 0 10px;
	}
	img{
		display: block;
		margin: 0 auto;
		border-radius: 50%;
	}
}
@include pad{ 	//max-width: 768px
	.feature{
		padding: 50px 30px;
	}
}
@include iphone568{
	.feature{
		ul{
			display: block;
		}
		li{
			width: 98%;
			margin: 5% 0;
		}
	}
}
.divider{  //分隔線
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		line-height: 1.5;
		margin-bottom: 30px;
}
.divider::before, .divider::after{
		flex-grow: 1;
		content: "";
		margin: 0 1.5rem;
		max-width: 130px;
		border-top: 1px solid #979797;
}
@include iphone320{
	.divider{
		display: block;
	}
	.divider::before, .divider::after{
		margin: 0;
	}
}
//主廚介紹
.main{
	background: #3D1101 ;
	color: #EFE9E7;
	display: flex;
}
.chef-img{
	margin-left: 40px;
	height: 460px;
	width: 100%;
	background: url('../images/main_chef_brown.png');
	background-repeat: no-repeat;
	background-position: center;
}
.chef{
	max-width: 50%;
	padding: 80px 75px 0 25px;
	text-align: left;
	p:nth-of-type(2){
		margin-top: 1em;
	}
}
@include pad{	//max-width: 768px
	.chef-img{
		margin-left: 10px;
		background-position: right;
	}
	.chef{
		padding: 50px 25px;
	}
}
@include iphone414{
	.main{
		display: block;
	}
	.chef-img{
		margin: 0;
	}
	.chef{
		max-width: 100%;
		padding: 30px;
	}
}

//客戶評論
.comment{
	padding: 50px 40px;
	h2{
		text-align: center;
		margin-bottom: 2em;
	}
	ul{
		display: flex;
		justify-content: space-between;
	}
	li{	
		width: 33.333%;
		margin: 0 1%;
	}
	img{
		float: left;
		border-radius: 50%;
	}
	h4{
		margin-top: 1.2em;
    	margin-left: 5em
	}
	p{
		margin-top: 1em;
		margin-left: 5.5em;
	}
	span{
		float: right;
		margin-top: 1em;
	}
}
@include pad{	//max-width: 768px
	.comment{
		padding: 50px 10px;
	}
}
@include iphone568{
	.comment{
		ul{
			display: block;
		}
		li{
			width: 98%;
		}
	}
}
// 預約訂位表單
.reserve{
	padding: 50px 40px;
	background: rgba(250,250,250,0.70);
	h2{
		text-align: center;
		margin-bottom: 40px;
		line-height: 1.5;
	}
}
@include pad{
	.reserve{
		padding: 50px 10px;
	}
}
@include iphone320{
	.reserve{
		padding: 40px 5px;
	}
}
.booking{
	display: flex;
	.map{
		background-image: url(../images/Map.png);
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 386px;
		margin-right: 20px;
	}
	form{
		width: 100%;
	}
	.data{
		width: 100%;
		margin: 12px 0;
		padding: 8px;
		border-radius: 5px;
		border: 1px solid #CCCCCC; 
	}
	p{
		margin-bottom: .5em;
	}
	label:nth-of-type(6){
		margin-left: 35px;
	}
	.btn{
		float: right;
		margin-top: 1.8em;
		width: 70px;
		padding: 7px;
		color: white;
		font-size: 14px;
		border-radius: 3px;
		cursor: pointer;
		border: none rgba(0, 0, 0, 0);
	}
	.btn-gray{
		background: #a09e9e;
		margin-right: 1em;
	}
	.btn-gray:hover{
		transition: all .3s;
		background: #888888;
	}
	.btn-orange{
		background: #f56c23;
	}	
	.btn-orange:hover{
		transition: all .3s;
		background: #FF8800;
	}
}
@include pad{
	.booking{
		.map{
			background-position: left;
		}
	}
}
@include iphone568{
	.booking{
		display: block;
		.map{
			background-position: center;
		}
		form{
			margin-top: 30px;
		}
	}
}

