.login-content{
	padding-top: 50px;
	img{
		display: block;
		margin: 0 auto;
	}
	// 享受美食好味道
	h3{		
		font-weight: bold;
		line-height: 1.5;
		font-size: $font-m;
		text-align: center;
	}
}
.login-form{
	max-width: 300px;
	height: 275px;
	padding: 10px 15px;
	margin: 35px auto 0;
	border-top: 3px solid #FF5E45;;
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
	// LOGIN
	h3{
		margin-bottom: .5em;
	}
	a{
		display: block;
		text-decoration: none;
	}
	label:nth-child(2){
		margin-top: 15px;
	}
	// 忘記密碼
	.forget{
		color: #FF5E45;
		font-size: 14px;
	}
	.login-btn{
		display: flex;
		margin-top: 30px;
		justify-content: center;
	}
	.btn{
		padding: 9px;
		width: 125px;
		font-size: 14px;
		color: white;
		border-radius: 3px;
		cursor: pointer;
		vertical-align: middle;
		text-align: center;
		border: none rgba(0, 0, 0, 0);
	}
	.btn-gray{
		background: #a09e9e;
		margin-right: 20px;
	}
	.btn-gray:hover{
		transition: all .3s;
		background: #888888;
	}
	.btn-orange{
		background: #f56c23;
	}
	.btn-orange:hover{
		transition: all .3s;
		background: #FF8800;
	}	
}
// 登入系統表單
.user{
	width: 100%;
	position:relative;
  display:inline-block;
  	span{
  		vertical-align: supper;
  	}
  	i { 
  		position: absolute; 
  		left: .3em;
  		bottom: .4em;
  		color: #3D1101;
  	}
  	input{
		width: 100%;
		text-indent: 24px;
		padding: 8px;
		background: white;
		border: 1px solid #CCCCCC;
		box-shadow: inset 0px 1px 0px 0px #ECECEC;
		border-radius: 3px;
	}
}
